body{
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    font-family: JJannon;
}

@font-face {
    font-family: JJannon;
    src: url(/data/JJannon-Regular.otf);
}

@font-face {
    font-family: Sohne;
    src: url(/data/Sohne-Buch.otf);
}

table{
    margin: 0 auto;
    text-align: center;
}

td{
    padding: 10px;
}

img.big{
    width: 600px;
    height: auto;
}
img.med{
    width: 400px;
    height: auto;
}
img.small{
    width:200px;
    height: auto;
}

h3{
    padding: 0;
    margin: 0;
    font-size: 20pt;
}

p{
    text-align: left;
    width: 400px;
    margin: 0 auto;
}