body{
    background-color: rgb(164, 156, 138);
}
div.default{
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 2px solid rgb(255, 246, 71);
    background-color: white;
}


img.bird{
    width: 120px;
    height: 120px;
}

div.nav1{
    font-family: Sohne;
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: rgb(255, 249, 235);
    position: fixed;
    top: 0;
    right: 0;
    border-bottom: 2px solid rgb(255, 246, 71);
}

a.da{
    text-decoration: none;
}

img.sigil{
    width: 300px;
    height: auto;
}
div.nav2 {
    background-color: rgb(230, 225, 204);
  }

.welcome{
    background-color: rgb(207, 201, 175);
}

div.collaborators{
    background-color: rgb(184, 178, 145);
    width: 100%;
}

div.birds{
    background-color: rgb(175, 169, 133);
    width: 600px;
}

div.branding{
    background-color: rgb(136, 128, 94);
}

div.projects{
    background-color: rgb(100, 94, 60);
}

div.timeline{
    background-color: rgb(56, 52, 32);
}

