body{
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    font-family: JJannon;
}

@font-face {
    font-family: JJannon;
    src: url(/data/JJannon-Regular.otf);
    font-variant-ligatures: discretionary-ligatures; 
}

@font-face {
    font-family: Sohne;
    src: url(/data/Sohne-Buch.otf);
}

.flex-container {
    display: flex;
    justify-content: center;
}

div.default{
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 2px solid rgb(252, 118, 185);
    background-color: white;
}

div.fancy{
    font-variant-ligatures: discretionary-ligatures; 
}

div.nav-sector{
    font-family: Sohne;
    width: 100%;
    height: 100px;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
}

table{
    margin: 0 auto;
    text-align: center;
}

td{
    padding: 10px;
}

h3{
    padding: 0;
    margin: 0;
    font-size: 20pt;
}

img.xl{
    width: 800px;
    height: auto;
}

img.l{
    width: 650px;
    height: auto;
}

img.m{
    width: 450px;
    height: auto;
}

img.s{
    width: 250px;
    height: auto;
}

img.xs{
    width: 150px;
    height: auto;
}

p{
    text-align: left;
    width: 400px;
    margin: 0 auto;
}

