body{
    background-color: rgb(159, 165, 136);
}
div.default{
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 2px solid rgb(226, 255, 36);
    background-color: white;
}


img.bird{
    width: 120px;
    height: 120px;
}

div.nav1{
    font-family: Sohne;
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: rgb(229, 230, 204);
    position: fixed;
    top: 0;
    right: 0;  
    border-bottom: 2px solid rgb(226, 255, 36);
}

a.da{
    text-decoration: none;
}

img.sigil{
    width: 300px;
    height: auto;
}

img.fancy{
    width: 400px;
    height: auto;
}

h2{
    font-size: 18pt;
    text-decoration: bold;
    padding-bottom: 7px;
}

h3{
    font-size: 14pt;
    text-decoration: underline;
    padding-bottom: 7px;
}